*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    text-align: center;
    padding: 20px;
}

h2{
    margin: 30px;
}

.simulador{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 50%;
    justify-content: space-between;
    min-width: 500px;
    max-width: 700px;
}

.container{
    display: flex;
    flex: auto;
    flex-direction: column;
}

.descricao{
    display: flex;
    justify-content: space-between;
}

.pill{
    display: flex;
    padding: 10px;
    cursor: pointer;
    user-select:none;
}

img{
    vertical-align: middle;
}

.bruto{
    padding: 15px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;
}

.liquido{
    padding: 15px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
}

.pre{
    padding: 15px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;
}

.pos{
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    text-align: center;

}

.fixado{
    padding: 15px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
}

.active{
    background-color: orange;
}

button{
    background-color: transparent;
    border: 1px solid black;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
}

input{
    margin-top: 10px;
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    height: 20px;
}